@{
    Layout = null;

    var seriesTitle = "Harry Potter";
    var issueNumber = 700;
    var description = "<p>Harry Potter is a wizzard abc xyz </p>";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>#@issueNumber</h2>
        <h5>Desciption: </h5>
        <div>@Html.Raw(description)</div>
    </div>
</body>
</html>
